@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

* {
    font-family: 'Lato' !important;
}

form {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 5% 10%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.search-container {
    width: 100%;
    margin-bottom: 5%;
    background: white;
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
}

.table-container {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    border: none;
}

input,
select,
button {
    font-size: 16px;
    background: #dfe6f2;
    border: solid 2px transparent;
    transition: all 350ms;
    padding: 12px 20px;
    font-weight: 400;
    border-radius: 100px;
    width: 280px;
    color: #02245f;
    box-sizing: border-box;
    outline: none;
}

button {
    width: 200px !important;
}

input:focus,
select:focus{
    border-color: #6386FE;
    outline: none;
}

.apply {
    width: 200px;
    background: #5793FE;
    color: white;
    cursor: pointer;
    transition: all 300ms;
}

.apply:hover {
    background: #21D4FD;
}

#submitFormWithDelete {
    background: #ff2186;
}

#submitFormWithDelete:hover {
    background: #c50c60;
}

#submitFormWithDelete:disabled {
    cursor: not-allowed;
    opacity: .8;
    background: #ff2186 !important;
}

.search-container span {
    color: #02245f;
    padding-right: 8px;
    font-size: 15px;
}

.table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: none;
}

.table-row {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 16px 25px;
    border: solid 1px #dfe6f2;
    border-top: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    color: #02245f;
    font-weight: 300;
    justify-content: space-between;
}

.table-row:first-child {
    border-top: solid 1px #dfe6f2;
}

.table-row:nth-child(odd) {
    background: #eff4fc;
}

.table-header {
    background: #02245f !important;
    color: white;
    border: none !important;
    font-weight: bold;
    text-transform: uppercase;
}

.id {
    width: 150px;
    font-weight: 900;
}

.gender {
    width: 200px;
}

.name {
    width: 20%;
}

.birthdate {
    width: 15%;
}

.email {
    width: 45%;
}

.company {
    width: 20%;
}

.page-container {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
}

.page-container select {
    padding: 4px;
    width: auto;
    border-radius: 5px;
    font-size: 12px !important;
}

.page-container span {
    color: #02245f;
    font-size: 13px;
    padding-right: 10px;
    font-weight: 400;
}

.delete {
    display: flex;
    flex-direction: row;
    width: 60px;
    font-size: 17px;
    height: auto;
    margin-right: 20px;
    cursor: pointer;
    color: #02245f;
    transition: all 300ms;
}

.del:hover {
    color: #c52e2e !important;
    transition: all 300ms;
}

.fcon {
    padding-right: 10px;
    transition: all 300ms;
}

.fcon:hover {
    opacity: .8;
}

.fav-marked {
    color: #21D4FD !important;
}

.marked {
    color: #c52e2e !important;
}

#download {
    width: 70px !important;
    background: #5793FE;
    color: white;
    cursor: pointer;
    transition: all 300ms;
}

#download:hover {
    background: #21D4FD;
}

@media screen and (max-width: 2000px) {
    .container {
        padding: 4% !important;
    }
}